@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

.notificationBox {
  margin: 10px 0;
  align-items: center;
  background-color: #f4f3fe;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 16px;
  box-sizing: border-box;
  border: 1px solid rgb(96, 93, 236);
  border-radius: 4px;
  .notificationHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .notificationTitle {
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 700;
    margin: 0 20px 0 10px;
  }
  .NotificationButtons {
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    color: #c9c8d3;
    padding: 0px;
  }
  .notificationText {
    margin: 0px 0px 0px 30px;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
  }
  .IconsGroup {
    display: flex;
    justify-content: flex-end;
    margin: 0 5px 0 auto;
    .NotificationButtons {
      display: flex;
      justify-content: flex-end;
      background-color: transparent;
      color: #c9c8d3;
      padding: 0px;
    }
  }
}
/*@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

.notificationBox {
  margin: 10px 0;
  align-items: center;
  background-color: #f4f3fe;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 16px;
  box-sizing: border-box;
  border: 1px solid rgb(96, 93, 236);
  border-radius: 4px;
  .InRow {
    display: flex;
    flex-direction: row;
    .notificationHeader {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      .notificationTitle {
        font-family: Nunito Sans;
        font-size: 18px;
        font-weight: 700;
        margin: 0 20px 0 10px;
      }
      .IconsGroup {
        display: flex;
        justify-content: flex-end;
        margin: 0 5px 0 auto;
        .NotificationButtons {
          display: flex;
          justify-content: flex-end;
          background-color: transparent;
          color: #c9c8d3;
          padding: 0px;
        }
      }
      
    }
  }

  .notificationText {
    margin: 6px 0px 0px 30px;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
  }
}
*/
