.card {
    position: relative;
    flex: 0 1 430px;
    padding: 30px;
    background-color: rgba(221, 221, 255, 1);
    border-radius: 20px;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: linear-gradient(90deg, #F7941D 0%, #27AAE1 100%);
        filter: blur(20px);
        transform: translate3d(0,0,-1px);
        transition: .5s;
        opacity: 0;
    }

    &:hover{
        &::before {
            opacity: 1;

        }
    }
}

.card__subtitle, .card__description {
    color: rgba(79, 79, 79, 1);
    font-size: 12px;
    line-height: 18px;
}

.card__header {
    margin-top: 17px;
    display: flex;
    align-items: center;
}


.card__name {
    margin-left: 20px;
    font-weight: 500;
    font-size: 18px;
    color: rgba(0, 9, 60, 1);
}

.card__description {
    margin-top: 8px;
    flex-grow: 1;
}

.card__content {
    font-size: 12px;
    margin-top: 17px;
}